/*general*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@keyframes slideInLeft {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/*light mode*/
:root {
    --primary-color: white;
    --primary-color-2: rgb(250,250,250);
    --primary-color-3: rgb(181,181,181);
    --background-color: rgb(255,255,255);
    --secondary-color: black;
    --secondary-color-2: rgb(85,85,85);
    --button-background: rgb(53,53,53);
    --button-text-hover: grey;
    --button-border: rgb(53,53,53) 0.1rem solid;
    --button-border-2: rgb(255,255,255) 0.1rem solid;
    --container-border: rgb(163,163,163);
}

/*dark mode*/
[theme="dark"] {
    --primary-color: black;
    --primary-color-2: rgb(39,39,39);
    --primary-color-3: rgb(74,74,74);
    --background-color: rgb(33,33,33);
    --secondary-color: white;
    --secondary-color-2: rgb(170,170,170);
    --button-background: rgb(202,202,202);
    --button-text-hover: lightgrey;
    --button-border: rgb(202,202,202) 0.1rem solid;
    --button-border-2: rgb(0,0,0) 0.1rem solid;
    --container-border: rgb(92,92,92);
}

*{
    margin: 0;
    padding: 0;
}

h3 {
    color: var(--secondary-color)
}
h4 {
    color: var(--secondary-color);
    font-size:xx-small;
}
body{
    font-family:"Poppins", sans-serif;
    background-color: var(--background-color);
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
p{
    color:var(--secondary-color-2);
}

/*transitions*/
a,
.btn{
    transition: all 300ms ease;
    
}
/*desktop nav*/
nav, 
.nav-links {
    display: flex;
    align-items: center;
}
nav{
    justify-content: space-around;
    height: 17vh;
    transition-property: all;
}
.nav-links{
    gap: 2rem;
    list-style: none;
}
nav li:last-child {
    width: max-content;
    display: flex;
    margin: auto;
    padding: 10px;

}
a{
    color: var(--secondary-color);
    text-decoration: none;
    text-decoration-color: var(--primary-color);
    transition-property: all;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--secondary-color);
    transform: scale3d(1.1,1.1,1);
}
nav a:hover {
    color: var(--secondary-color);
    text-decoration-color: var(--secondary-color);
    transform: scale3d(1.1,1.1,1);
}
.logo {
    font-size: 2rem;
    color: var(--secondary-color);
}
.logo:hover{
    cursor: default
}
/*hamburger menu*/
#hamburger-nav{
    display: none;
}
.hamburger-menu{
    position: relative;
    display: inline-block;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
}
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    transition: all 0.3 ease-in-out;

}
.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--primary-color);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    
}
.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 400px;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2){
   opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);
}
.hamburger-icon span:fist-child{
    transform: none;
}
.hamburger-icon span:fist-child{
    opacity: 1;
}
.hamburger-icon span:fist-child{
    transform: none;
}

/*section*/
section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display:flex;
    
}

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin:  4rem 0;
    align-self: center;
    
}
.profile-pic{
    border-radius: 100%;
}
.profile-pic:hover{
    transform:scale3d(1.1,1.1,1);
}
.section__text{
    align-self: center;
    text-align: center;
}
.section__text p{
    font-weight: 600;
}
.section__text__p1{
    text-align: center;
    transition-property: all; 
}
.section__text__p1:hover{
    transform:scale3d(1.1,1.1,1);
}
.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
    transition-property: all;
}
.section__text__p2:hover{
    transform:scale3d(1.1,1.1,1);
}
.tittle{
    color:var(--secondary-color);
    font-size: 3rem;
    text-align: center;
    animation-name: slideInLeft;
    animation-duration: 700ms;
    animation-timing-function: ease-in;
    transition-property: all;
}
.tittle:hover{
    transform:scale3d(1.1,1.1,1);
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
 /*icons*/

 .icon{
    cursor:pointer;
    height:2rem;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
 }
 .icon:hover{
    transform: rotate(360deg);
 }


/*buttons*/
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    transition-property: all;
}
.btn:hover {
    transform:translateY(-10px);
}

.btn-color-1, 
.btn-color-2{
    border:var(--button-border);
    color: var(--secondary-color-2);
}
.btn-color-1:hover
.btn-color-2:hover{
    cursor: pointer;
}
.btn-color-1,
.btn-color-2:hover{
    background: var(--button-background);
    color: var(--primary-color);
}
.btn-color-1:hover{
    background-color: var(--secondary-color);
}
.btn-color-2{
    background: none;
}
.btn-color-2:hover{
    border: var(--button-border);
    background: var(--secondary-color);
}
.btn-container {
    gap:1rem;
}
/*about*/
#about 
{
    position: relative;
}
.about-containers {
    
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.project-containers{
    display: inline-block;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    overscroll-behavior-inline: contain;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    animation: 10s scroll infinite linear;
}
.project-containers:hover{
    animation-play-state: paused;
}

.about-detailed-containers {
    justify-content: center;
    flex-direction: column;
}
.about-containers, 
.about-detailed-containers,
.project-containers{
    display: flex;
}
.about-pic {
    margin-top: 0rem;
    border-radius: 2rem;
    transition-property: all;
}
.about-pic:hover{
    transform:rotate(5deg);
}

.arrow {
    position: absolute;
    right:-5rem;
    bottom: 2.5rem;
}
.details-container {
    padding: 1.5rem;
    flex: 1;
    background:var(--primary-color);
    border-radius: 2rem;
    border: var(--button-border);
    border-color:var(--container-border);
    text-align: center;
}
.section-container {
    gap: 4rem;
    height: 80%;
}
.about-section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: 4 0;
}

h3, h4.experience-sub-tittle,.crt-sub-tittle{
    transition-property: all;
}
h3:hover, h4:hover, .experience-sub-tittle:hover,.crt-sub-tittle:hover{
    transform: translateY(-10px);
}
/*experience section*/
#experience{
    position: relative;
}
.experience-sub-tittle{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x:hidden;
}
.experience-details-container-project{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x:auto;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
    
}
article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}



.close {
    position: absolute;
    right:-5rem;
    top: 2.5rem;
}


.crt-image{
    border-radius: 0.5rem;
    width: 60%;
    height: 80%;
}
/*projects*/
#projects {
    position: relative;
}
.color-container{
    border-color: var(--container-border);
    background: var(--primary-color-2);
}
.project-image{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}
.project-tittle{
    margin: 1rem;
    color: var(--secondary-color);
}
.project-btn{
    color: var(--secondary-color);
    border-color: var(var(--container-border));
}
.project-details-container {
    padding: 1.5rem;
    flex: 1;
    background:var(--primary-color);
    border-radius: 2rem;
    border: var(--button-border);
    border-color:var(--container-border);
    text-align: center;
    transition-property: all;
}
.project-details-container:hover {
    transform: scale3d(1.1,1.1,1);
}
#education
{
    position: relative;
}
.education-about-container{
    width: 100%;
    padding-top: 15px;
}

/*contact*/
#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border:var(--button-border);
    border-color:var(--container-border);
    background: var(--background-color);
    margin: 2rem auto;
    padding: 0.5rem;
}
.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
.contact-info-container p{
    font-size: larger;
}
.contact-icon{
    cursor: default;
    height: 2rem;
}
/*footer*/

footer{
    height: 26vh;
    margin: 0 1rem;
}
footer p{
    text-align: center;
}
.project-image{
    width: 30vh;
}
.crt-sub-tittle{
    color: var(--secondary-color);
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.crt-scroll{
    animation: none
}
.crt-tittle{
    display: flex;
    justify-content: center;
}
.blur-container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
.crt-btn{
    display: flex;
    justify-content: center;
}
#popup1
{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1200px;
    padding: 50px;
    box-shadow: 0 5px 30px rbga(0,0,0,.30);
    background-color: var(--background-color);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    
}

#popup1.active
{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.crt-img{
    display: flex;
    height: 75%;
    width: 100%;
    margin: 4 0;
}

.crt-img-container {
    display: flex;
    padding: 1.5rem;
    flex: 1;
    background:var(--primary-color);
    border-radius: 2rem;
    border: var(--button-border);
    border-color:var(--container-border);
    text-align: center;
    transition-property: all;
}

.close-crt{
    display: flex;
     justify-content: space-between;
     padding: 2rem;
}
